@field-height: 50px;
@field-font-size: 14px;

.input-box {
    position: relative;

    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="tel"] {

        + label {
            font-size: @field-font-size;
            position: absolute;
            margin-left: 1.2em;
            padding: 0 .3em;
            background: @secondary-colour;
            top: 0;
            transform: translateY(@field-height / 2);
            transition: transform 300ms ease-in-out;
            z-index: 1;
        }

        &:focus + label,
        &.has-value + label {
            transform: translateY(0);

        }
    }
}

input {
    background: @secondary-colour;
    font-family: 'Work Sans', sans-serif;
    color: @primary-colour;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid @primary-colour;
    box-shadow: none;
    font-size: 1em;
    height: @field-height;
    line-height: 40px;
    margin: 10px 0;
    padding: 0 10px;
    transition: border-bottom-color .4s;
    width: 100%;
    outline: none;
}

.vashi-input {
    box-sizing: border-box;
    padding: 0 1em;
}

textarea.vashi-input {
    border: 1px solid @primary-colour;
    width: 100%;
    height: 140px;
    resize: none;

    &::placeholder {
        text-align: center;
        top: 50px;
        position: relative;
    }
}