body {
    background-color: @checkout-bg;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

#checkout {
    font-family: 'Chap', sans-serif;
    color: @primary-colour;
}

.checkout__section {
    background: @checkout-section-bg;
    border: 1px solid @checkout-section-border;
    box-shadow: 0px 1px 4px @checkout-section-box-shadow;
    margin-bottom: 1rem;
}

.checkout__title {
    font-size: 1.4em;
    background: @checkout-section-title-bg;
    margin: 0;
    padding: 0.5em 1em .2em 1em;
    border-bottom: 1px solid @checkout-section-border;
}